@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
.orange{
    background-color: #fdba74;
    height:100px;
    width: 100px;
    color: white;
}
.orange-d{
    background-color: #ea580c;
    height:100px;
    width: 100px;
    color: white;
}
.blue{
    background-color: #a5b4fc;
    height:100px;
    width: 100px;
    color: white;
}
.blue-d{
    background-color: #4f46e5;
    height:100px;
    width: 100px;
    color: white;
}
.green{
    background-color: #5eead4;
    height:100px;
    width: 100px;
    color: white;
}
.green-d{
    background-color: #0d9488;
    height:100px;
    width: 100px;
    color:white;
}